# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

#eslint
.eslintcache

# production
build
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode Settings
/.vscode

/.idea

# Docs
/docs