@import url(./colors.css);

*{
    margin: 0;
    padding: 0;
}

body{
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 239, 248);
}

h1{
    padding: .5rem 0;
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    color: white;
}

table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td{
    padding: .5rem;
}

.note{
    width: 80%;
}
.timestamp{
    text-align: center;
}

table, tbody, tr{
    width: 100%;
}

tr:nth-child(even) {
    background-color: var(--table-row);
}

#tableWrapper{
    width: 100%;
    overflow-y: scroll;
}

footer{
    height: 3rem;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
}

#copyTableBtn{
    margin-left: .2rem;
    background-color: var(--secondary);
    border-radius: .3rem;
    padding: .2rem .5rem;
    text-align: center;
    transition: .2s;
}

#copyTableBtn:hover{
    background-color: var(--secondary-faded);
    color: rgba(255, 255, 255, 0.827);
    cursor: pointer;
}