*{
    margin: 0;
    padding: 0;
}

body{
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 239, 248);
}

h1{
    margin: .5rem 0;
}

table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td{
    padding: .5rem;
}

.note{
    width: 80%;
}

table, tbody, tr{
    width: 100%;
}

#tableWrapper{
    background-color: orange;
    width: 100%;
    overflow-y: scroll;
}