:root {
  /* COLORS */
  --primary: rgb(16, 4, 54);
  --secondary: rgb(228, 87, 65);
  --secondary-faded: rgba(228, 87, 65, 0.708);
  --table-row: rgb(219, 216, 216);

  --bookmark-header: rgb(54, 51, 117);
  --bookmark-body: lightblue;
  --bookmark-icon-background: rgb(60, 59, 59);
  --bookmark-header-n: rgba(75, 72, 117, 0.5);
  --bookmark-body-n: black;
  --bookmark-icon-background-n: black;
}
