/* This script affects the DOM elements. It is used to styled the iframe */

.web-parent-div {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: 110%;
    z-index: 2147483647;
    transition-duration: 0.3s;
    box-shadow: -6px 0px 19px 0px rgb(0 0 0 / 76%);
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.web-parent-div.draggable {
    border-radius: 0.2em 0.2em 0 0;
}


.web-header {
    height: 2em;
    width: 100%;
    background: lightblue;
    display: flex;
}

.draggable .web-header {
    border-radius: 0.2em 0.2em 0 0;
    cursor: move;
}

.web-sidebar {
    height: 100%;
    width: 100%;
    border: none;
}

.closeIcon {
    color: black;
}



