#mainNavPageContent {
}

.pageContent {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sessionWrapper {
  width: 85%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.2rem;
  color: white;
  background-color: rgb(205, 92, 92);
  position: relative;
  display: flex;
  align-items: center;
}

.sessionItemIcons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.sessionName {
  margin-left: 0.7rem;
  font-size: 0.7rem;
  width: 50%;
  border-bottom: 1px solid transparent;
}
.sessionName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sessionItemIcon {
  margin-left: 0.2rem;
}

.sessionItemIcon:hover {
  cursor: pointer;
}

.sessionWrapper:last-of-type {
  margin-bottom: 1rem;
}

.pageContentLoading {
}

.sessionItemSpinner {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 0.4rem;
}

/* Hide the confirm edit icon by default */
.sessionConfirmIcon {
  display: none;
  margin-right: auto;
}

input.sessionItemEditTextInput {
  outline: none;
  font-size: 0.7rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(68, 67, 67);
  margin-left: 0.7rem;
  color: white;
  width: 50%;
}
