#mainNavPageContent {
}
#videoBookmarksPageContent {
}

.pageContent {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sessionWrapper {
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.2rem;
  color: white;
  background-color: rgb(205, 92, 92);
  position: relative;
  display: flex;
}

.sessionItemIcons {
  margin-left: auto;
}

.sessionName {
  margin-left: 0.7rem;
}
.sessionName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sessionItemIcon {
  margin-left: 0.2rem;
}

.sessionItemIcon:hover {
  cursor: pointer;
}

.sessionWrapper:last-of-type {
  margin-bottom: 1rem;
}

.pageContentLoading {
}

.sessionItemSpinner {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 0.4rem;
}
