#mainNavPageContent {
}

.sessionWrapper {
  width: 85%;
  padding: 1rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.2rem;
  color: white;
  background-color: rgb(205, 92, 92);
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sessionItemIcons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.sessionName {
  font-size: 0.8rem;
  width: 50%;
  border-bottom: 1px solid transparent;
  font-weight: 600;
}
.sessionItemDate {
  color: #d9d7d7;
  font-size: 0.7rem;
}
.sessionName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sessionItemIcon {
  margin-left: 0.2rem;
}

.sessionItemIcon:hover {
  cursor: pointer;
}

.sessionWrapper:last-of-type {
  margin-bottom: 1rem;
}

.pageContentLoading {
}

.sessionItemSpinner {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 0.2rem;
}

/* Hide the confirm edit icon by default */
.sessionConfirmIcon {
  display: none;
  margin-right: auto;
}

input.sessionItemEditTextInput {
  outline: none;
  font-size: 0.7rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(68, 67, 67);
  margin-left: 0.7rem;
  color: white;
  width: 50%;
}

.searchBoxWrapper {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.searchBoxIcon {
  width: 6%;
  height: 100%;
  position: absolute;
  left: 0.8rem;
}
.clearSearchIcon {
  width: 8%;
  position: absolute;
  padding: 0 0.2rem;
  right: 0;
  cursor: pointer;
  /* hide by default */
  display: none;
}
#searchSessions {
  border: none;
  border-radius: 0.4rem;
  outline: 1px solid gray;
  width: 100%;
  margin-left: 0.5rem;
  padding: 0 1.4rem;
  height: 70%;
  position: relative;
  background-color: transparent;
  transition: 0.2s;
  color: white;
  font-size: 0.75rem;
}
#searchSessions:focus {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1.5px solid gray;
}
