#videoBookmarksPageContent {
  height: 95%;
}

/* Styles for bookmarks */
.bookmark {
  height: fit-content;
  margin: 0.5rem;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.78);
}
.bookmark:first-of-type {
  margin-top: 1rem;
}
.bookmark.nested {
  margin-left: 2rem;
}
.bookmark .bookmarkHeader {
  background-color: var(--bookmark-header);
  display: flex;
  padding: 0.25rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.bookmark.nested .bookmarkHeader {
  background-color: var(--bookmark-header-n);
}
.headerIcons {
  margin-left: auto;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
.headerIcon {
  /* background-color: var(--bookmark-icon-background); */
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
}
.bookmark .bookmarkBodyText {
  background-color: var(--bookmark-body);
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.bookmark .bookmarkHeader .headerText {
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark .bookmarkHeader .title {
  margin-left: 0.5rem;
  font-size: 1rem;
}
.bookmark .bookmarkHeader .timestampText {
  background-color: rgb(194, 66, 66);
  padding: 0.1rem 0.4rem;
  border-radius: 0.6rem;
  text-align: center;
}

.bookmark .bookmarkHeader .timestampText:hover {
  cursor: pointer;
  color: lightblue;
}

.pageHeader.videoBookmarksPage.header {
  background: rgb(37, 49, 116);
  height: 5%;
  display: flex;
  align-items: center;
}

.pageHeader.videoBookmarksPage.header button {
  border-radius: 0.2rem;
  height: 70%;
  width: 25%;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgb(88, 88, 116);
  outline: 1.5px solid rgb(88, 88, 116);
  color: white;
  transition: 0.2s;
  margin-left: 0.5rem;
}
.pageHeader.videoBookmarksPage.header button:hover {
  background-color: transparent;
  cursor: pointer;
}

.pageHeader.videoBookmarksPage.header button .headerBtnIcon {
  width: 15%;
  margin: 0 0.2rem;
}
.pageHeader.videoBookmarksPage.header button .headerBtnText {
  width: 80%;
  margin-right: 0.2rem;
  font-size: 0.65rem;
  font-weight: 400;
}
