/* This script affects the DOM elements. It is used to styled the iframe */

.web-parent-div {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: 110%;
    z-index: 2147483647;
    transition-duration: 0.3s;
    box-shadow: -6px 0 19px 0 rgb(0 0 0 / 76%);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    --border-radius: 0.75rem;
    border-radius: var(--border-radius);
}

.web-parent-div.draggable .web-header header {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.web-parent-div.draggable iframe {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}


.web-header {
    height: 2em;
    width: 100%;
    background: none;
    display: flex;
}

.draggable .web-header {
    border-radius: 0.2em 0.2em 0 0;
    cursor: move;
}

.web-sidebar {
    height: 100%;
    width: 100%;
    border: none;
    user-select: none;
    transition: border-radius 350ms;
}

.closeIcon {
    color: black;
}



